<!DOCTYPE html>
<html lang="en">
    <%- include("./templates/head") %>
<body>
    <div class="container p-5">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenid@s!!</h1>
            <p class="lead">Esta aplicacion esta hecha con EJS y EXPRESS</p>
            <hr class="my-4">
            <p>Mariana - Proyecto Backend (Coder House)</p>
            <a class="btn btn-outline-success" href="/form" role="button">Cargar Productos</a>
        </div>
    </div>
</body>
</html>